@font-face {
	font-family: "norsebold";
	src: url("./font/norse-bold-webfont.woff2") format("woff2"),
		url("./font/norse-bold-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.hero h1 {
	font-family: "norsebold", sans-serif;
	font-size: 96px;
	color: white;
	display: inline;
}

.hero div {
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	height: auto;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.hero img {
	height: 100px;
	width: auto;
	margin-right: 0px;
}

.hero {
	background-image: url(./img/bg.avif);
	background-position: center; /* Center the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 700px) {
	.jumbotron {
		display: flex;
		height: 100vh;
		justify-content: baseline;
		align-items: center;

		.hero {
			height: 100%;
			flex: 2;

			div {
				margin-bottom: 30vh;
			}
		}

		section {
			flex: 3;
		}
	}
}
